@model MVC.Models.Disciplina.DisciplinaUpdateVM

@{
    ViewData["Title"] = "Editar disciplina";
}


<section class="row mt-5 pb-5">

    <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-3 d-flex justify-content-center mt-3">

        
        <form asp-action="Edit" method="post" class="w-100 rounded p-4 border border-3 border-danger">
            <h1 class="text-center mb-4 text-danger">Editar Disciplina</h1>
            @if (ViewBag.ErrorMessage != null)
            {
                <p class="alert alert-danger text-center">@ViewBag.ErrorMessage</p>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <p class="alert alert-danger text-center">@TempData["ErrorMessage"]</p>
            }
            @if (TempData["Message"] != null)
            {
                <p class="alert alert-success text-center">@TempData["Message"]</p>
            }

            @if (Model != null) {

                <input type = "hidden" asp-for= "Id" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label mb-1"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AnioIntegracion" class="control-label mb-1"></label>
                    <input asp-for="AnioIntegracion" class="form-control" />
                    <span asp-validation-for="AnioIntegracion" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Editar" class="btn btn-danger w-100" />
                </div>
            }
           
        </form>

    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}