@model MVC.Models.Disciplina.DisciplinaListaVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>DisciplinaListaVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-control">
                <label for="idDisciplina" class="form-label">Seleccionar disciplina</label>
                <select id="idDisciplina" name="idDisciplina" class="form-select">
                    @foreach (var d in ViewBag.Disciplinas)
                    {
                        <option value="@d.Id">@d.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Seleccionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
